<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ApiAiSDK" version="1.6.3" targetFramework="net45" />
  <package id="BouncyCastle" version="1.7.0" targetFramework="net45" />
  <package id="Google.Apis" version="1.18.0" targetFramework="net45" />
  <package id="Google.Apis.Auth" version="1.18.0" targetFramework="net45" />
  <package id="Google.Apis.CloudSpeechAPI.v1beta1" version="1.16.0.607" targetFramework="net45" />
  <package id="Google.Apis.Core" version="1.18.0" targetFramework="net45" />
  <package id="Google.Apis.Oauth2.v2" version="1.18.0.658" targetFramework="net45" />
  <package id="Grpc" version="1.0.1-pre1" targetFramework="net45" />
  <package id="Grpc.Core" version="1.0.1-pre1" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="Microsoft.ProjectOxford.SpeechRecognition-x64" version="0.4.10.2" targetFramework="net452" />
  <package id="MySql.ConnectorNET.Data" version="6.8.3.2" targetFramework="net461" />
  <package id="NAudio" version="1.7.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net45" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net45" />
  <package id="Selenium.Support" version="3.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver.ChromeDriver" version="2.25.0.0" targetFramework="net45" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net45" />
  <package id="Syn.Speech" version="1.0.3" targetFramework="net45" />
  <package id="System.Interactive.Async" version="3.0.0" targetFramework="net45" />
  <package id="Zlib.Portable.Signed" version="1.11.0" targetFramework="net45" />
</packages>